.navigation{
  height: 0;
  &__checkbox{
    opacity: 0;
    visibility: hidden;
  }

  &__button{
    background-color: white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 1002;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port){
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone){
      top: 3rem;
      right: 3rem;
    }
  }

  &__background{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary, $color-primary-dark);
    z-index: 1000;
    transition: transform .6s cubic-bezier(0.83, 0, 0.17, 1);

    @include respond(tab-port){
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone){
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav{
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;

    opacity: 0;
    width: 0;

    transition: all .6s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__list{
    @include center-horizontal-vertical;
    width: 100%;
    text-align: center;
    list-style: none;


  }

  &__item{
    margin: 1rem;

  }

  &__link {
    &:link, &:visited {
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 230%;
      transition: all .4s;

      span{
        margin-right: 1.5rem;
        display: inline-block;
      }

    }
      &:hover, &:active{
        background-position: 100%;
        color: $color-primary;
        transform: translateX(1rem);
      }
    }
  //FUNCTIONALITY

  &__checkbox:checked ~ &__background{
    transform: scale(100);
  }

  &__checkbox:checked ~ &__nav{
   opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon{
    position: relative;
    margin-top: 3.4rem;
    transition: all 0.2s;
    &,
    &::before,

    &::after{
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
      display: inline-block;
    }
    &::before,
    &::after{
      content: "";
      position: absolute;
      left:0;
      transition: all .2s;
    }

    &::before{
      top:-0.8rem;
    }

    &::after{
      top:0.8rem;
    }

  }

  &__button:hover &__icon::before{
    top:-1rem;
  }

  &__button:hover &__icon::after{
    top:1rem;
  }

  &__checkbox:checked + &__button &__icon{
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before{
    background-color: $color-white;
    top:0;
    transform: rotate(45deg);
  }

  &__checkbox:checked + &__button &__icon::after{
    background-color: $color-white;
    top:0;
    transform: rotate(-45deg);
  }

  &__checkbox:checked + &__button{
    box-shadow: none;
    background-color: transparent;
  }

}